<!-- footer -->
        <div id="waterdrop"></div>
            <div class="footer text_align_c font_family_R">
                <div class="footer_content display_f">
                    <div class="contact_content">
                        <p style="font-weight: bold; color:darkorange; display: flex;">Contact Us</p>
                        <p style="display: flex">ivntechnologysolutions@gmail.com</p>
                        <p style="display: flex">+91 79042 95284</p>
                        <p style="display: flex">+91 83000 15575</p>
                    </div>
                    <div class="address_content">
                        <p style="font-weight: bold; color:darkorange;">Address</p>
                        <p>8/59,M5,</p>
                        <p>Madhavan Nagar, Paramakudi,</p>
                        <p>Ramanathapuram - 623 707, Tamil Nadu, India.</p>    
                    </div>
                    <div class="Work_days display_f">
                        <div style="width: 40%; text-align: left;" class="">
                            <p>Monday</p>
                            <p>09:30 am</p>
                            <p>Saturday</p>
                            <p>9.30 am</p>
                            <p style="font-weight: bold;">Sunday</p>
                        </div>
                        <div style="width: 20%;" class="margin_d text_align_c">
                            <p>-</p>
                            <p>-</p><br>
                            <p>-</p>
                            <p style="font-weight: bold;">-</p>
                        </div>
                        <div style="width: 40%; text-align: left;" class="margin_d">
                            <p>Friday</p>
                            <p>05:30 PM</p><br>
                            <p>1.30 pm</p>
                            <p style="font-weight: bold;">Closed</p>
                        </div>
                        
                    </div>

                    <!-- <div class="govt ">
                        <p style="font-weight: bold; color:darkorange;">APPROVED BY</p>
                        <p>MINISTRY OF</p>
                        <p style="font-weight: bold; font-size: 20px;">EXTERNAL AFFAIRS</p>
                        <p>GOVERNMENT OF INDIA</p>       
                         
                    </div> -->
                    <div class="Map ">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.002625436839!2d78.08819886921407!3d9.933738552469295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00cfc613be3071%3A0x476f27e741a2feef!2sQuantanics%20TechServ%20Pvt%20Ltd.!5e0!3m2!1sen!2sin!4v1692697626796!5m2!1sen!2sin" width="350" height="140" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div>
                    <p style="color: white;">All rights reserved © 2023 — IVN Technology Solutions Pvt Ltd.</p>
                </div>
                <div class="creator justify_c align_c display_f font_family_R">
                    <p>Designed And Developed by <em style="color: yellow; font-weight: bold; font-style: normal;">Quantanics Teshserv</em></p>
                </div>
            
            </div>
        </div>


        <script>
            var x = document.getElementsByClassName('Common_content')[0];
            var waterdrop =document.getElementById('waterdrop');
            waterdrop.style.setProperty('--footer',x.style.backgroundColor);
        </script>