{% extends 'default/index.html' %}
{% load static %}
{% block content %}

<div class="Common_content" style="background-color:white; width:100%;">
  <div class="content_zone" style="min-height: 42vh;">
    <div style="flex-direction: column;" class="display_f justify_c align_c">
      <div class="font_family_R display_f justify_c font_b" style="color: black; font-size: 30px;">
        <p>Projects</p>
      </div>
      <div class="display_f justify_c align_s" style="flex-direction: column;width: 80%;">
        <p style="color: rgb(1 48 131);font-weight: bold;" class="font_size">Affordable Care Act</p>
        <p class="font_size">The Patient Protection and Affordable Care Act (ACA) was passed in 2010 and is commonly known as Obamacare. It extended healthcare coverage to millions of previously uninsured Americans. The ACA launched the Health Insurance Marketplace, through which eligible people may find and buy health insurance policies.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}