{% extends 'default/index.html' %}
{% load static %}
{% block content %}
  <!-- Content -->
  <div class="Common_content" style="background-color:white; margin-top: 70px; width:100%;height: auto;">

    {% comment %} <div class="">
      <div class="bubble position_r">
        <div class="bubble_1 position_r"></div>
      </div> {% endcomment %}



      <div class="content_zone">
        <div class="font_family_R display_f justify_c font_b" style="color: black; font-size: 30px;">
          <p>HR & Career Outsourcing</p>
        </div>
        <div class="heading_title">
          <p>SPARK / SUCCEED / SHINE</p>
          <p>Opt RASA; Cherish your Career; Thrive your Future !</p>
        </div>
        <div class="font_family_R text_align_j  padding_1px">
          <p>As a Recruiter, RASA creates the opportunity to work with our clients World Wide and we screen, interview, and place well-qualified candidates for contract and permanent positions</p>
        </div>
        <div class="font_family_R font_b">
          <p>The Advantages of our Recruiting Approach</p>
        </div>
        <div class="font_family_R text_align_j  padding_1px">
          <p>Because we do such a great job screening, selecting, and placing our professionals, companies continue to want them back. As a result, we form long-term relationships with our professionals, often making it easier to work with us and place them.</p>
        </div>
        <div class=" font_family_R font_b">
          <p>Place Professional and Industrial Talent with RASA</p>
        </div>
        <div class="font_family_R text_align_j  padding_1px">
          <p>RASA is always looking for the right people to join our team and focus on the recruitment and placement of engineering, medical, teaching, architectural, and other related professionals.</p>
        </div>

      </div>

    
  </div>
{% endblock %}
